.chip {
    color: #0B344F;
    padding: 10px 10px;
    margin: 5px;
    background-color: #ffffff;
    border: 1px solid #d1d1d1;
    border-radius: 1px;
    align-self: center;
    i {
      font-size: 1em;
    }

}
